    body{
        background-color: rgb(94, 90, 90);
        color: white;
        font-family: "Roboto", sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 700px;
        margin: 2;
    }

    button{
        background-color: gray;
        color: white;
        font-family: "Roboto", sans-serif;
    }

    .passo{
        display: none;

    }
    .passo.ativo{
        display:block;
    }
    main{
        max-width: 90%;
        text-align: center;

    }
    img{
        max-width: 90%;
    }